<!DOCTYPE html>
<html>
    <head>
    <meta charset="utf-8">
    <title>Vocabulary</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/style.css">

    

    </head>
    <body>
     <div class="page">
        <header class="header">
            <div class="menublock">
                <img id="logo" src="img/logo.png" alt="feather-lyrics" height="70px" width="70px"> 
                <div class="menulist">
                    <h1 class="menutext" id="lesson" >Lesson</h1>
                    <a href="http://localhost:3000/">
                    <h1 class="menutext" id="home">Home</h1>
                    </a>
                    <a href="http://localhost:3000/vocabulary">
                    <h1 class="menutext" id="vocabulary">Vocabulary</h1>
                    </a>
                </div>
                <div class="menulog">
                    <button class="menutext" id="login" onclick="authorize();">Login</button>
                    <h1 class="menutext" id="info">Info</h1>
                </div>
            </div>
        </header>
        <main class="content">
                <div class="side">
                    <div class="centre">
                        <div class="LogoTitleDesc">
                          
                        </div>
                    </div>
                </div>
        </main>
        <footer class="footer">
            <div class="pagination">
                <a href="#">&laquo;</a>
                <a class="active" href="#">1</a>
                <a href="#">2</a>
                <a href="#">3</a>
                <a href="#">4</a>
                <a href="#">5</a>
                <a href="#">&raquo;</a>
              </div>
        </footer>
    </div>
        <script src="js/script.js"></script>  
    </body>
</html>